@import "src/assets/styles/vars";

.mainNav {
  padding: 20px 0;
  background-color: #fff;
}

.logoWrapper {
  width: 100px;
  height: 100px;
}

.navContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 58px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.authBtn {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #C4C4C4;
  @include ptsans-bold;
  font-size: 16px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    margin-left: 0;
  }
  svg {
    margin-left: 5px;
  }
  &:hover {
    color: #015DB9;
    svg {
      path {
        fill: #015DB9;
      }
    }
  }


}
