.chronoRow {
  gap: 15px;
  @media (max-width: 768px) {
    gap: 0;
  }
  h6 {
    font-size: 14px;
    line-height: 22px;
  }
  span {
    display: -webkit-box;
    line-height: 22px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    height:42px;
  }
}