section.groupGallery {
  padding: 25px 0 15px;
}

.galleryHeader {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-bottom: 20px;
  .galleryLengthInfo {
    font-size: 16px;
    margin: 0;
  }
}

.allAlbumsLink {
  color: #015DB9;
  font-size: 16px;
}

.groupPhotos {
  margin-bottom: 20px;
}