@import "src/assets/styles/vars";

.ethnosportSection {
  padding: 50px 0;
}

.ethnosportSlider {
  max-width: 1220px;
}

.slideItem {
  padding: 23px 23px 15px 23px;
  background-color: #fff;
  border: 2px solid #E1E0E8;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.slideImgWrapper {
  height: 252px;
  margin-bottom: 20px;

  img {
    height: 100%;
    width: 100%;
  }
}

.slideTitleWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  a {
    color: #015DB9;
    font-size: 18px;
    @include ptsans-bold;
  }
}
