.detailedAside {
  min-width: 205px;
  width: 205px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.asideEl {
  h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.asideImg {
  width: 170px;
  height: 110px;

  img {
    width: 100%;
    height: 100%;
  }
}

.asideSimpleLinks {
  display: flex;
  flex-direction: column;
  gap: 12px;

  a {
    color: #DE0008;
    font-size: 14px;
  }
}

.detailedAsideLinks {
  h4 {
    font-size: 14px;
    margin-bottom: 7px;
    span {
      display: none;
    }
  }

  li {
    line-height: 1.2;
    p {
      line-height: 1.1;
    }
  }

  a {
    font-size: 14px;
  }
}

